<div class="jumbotron text-center">
  <h1>Welcome to Trabeya</h1>
  <p class="lead">Understanding the power of data is at the core of what we do</p>
  <div>
    <a class="btn btn-danger" routerLink='/dashboard'>Dashboard</a> <a class="btn btn-test" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Engage</h3>
    <p>Through end-to-end gathering of user stories, we ensure that your vision translates to reality</p>
  </div>
  <div class="col-md-4">
    <h3>Explore</h3>
    <p>Being tethered to the data allows us to not only analyze current processes,</p>
  </div>
  <div class="col-md-4">
    <h3>Envisage</h3>
    <p>Having painstakingly mapped out the problem, a myriad of solution strategies</p>
  </div>
</div>
